<!-- gift start -->
<section id="gift" class="gift white">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="heading wow animated fadeInUp">
                    <h3>Gift Registration</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet pharetra <br> nunc, non scelerisque ligula. Crasveljusto nulla Vestibuluma.</p>
                </div>
                <!-- /.heading end -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="gift-block wow animated fadeInUp" data-wow-delay="0s" data-wow-duration="1s">
                    <a href="#"><img class="img-responsive" src={{ asset('images/company_01.png') }} alt="Gift name"></a>
	 						<span class="gift-overlay">

	 						</span>
                </div>
                <!-- /.gift-block end -->
            </div>
            <div class="col-sm-4">
                <div class="gift-block wow animated fadeInUp" data-wow-delay=".6s" data-wow-duration="1s">
                    <a href="#"><img class="img-responsive" src={{ asset('images/company_02.png') }} alt="Gift name"></a>
	 						<span class="gift-overlay">

	 						</span>
                </div>
                <!-- /.gift-block end -->
            </div>
            <div class="col-sm-4">
                <div class="gift-block wow animated fadeInUp" data-wow-delay="1.2s" data-wow-duration="1s">
                    <a href="#"><img class="img-responsive" src={{ asset('images/company_03.png') }} alt="Gift name"></a>
	 						<span class="gift-overlay">

	 						</span>
                </div>
                <!-- /.gift-block end -->
            </div>
        </div>
    </div>
</section>
<!-- event end -->