/app/bootstrap.php.cache
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/var/cache/*
/var/log/*
/vendor/
/web/bundles/
/web/vendors/
