<!-- navigation start -->
<section id="sticker" class="nav-block">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1 class="nav-logo"><a class="nav-brand" href=""> <img
                                        src="{{ asset('images/icon/logo.png') }}" alt="BrandLogo"></a></h1>
                    </div>
                </div>
                <div class="col-sm-8 text-center">
                    <!-- Collect the nav toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ path('homepage') }}">Home</a></li>
                            <li><a href="#couple">Couple</a></li>
                            <li><a href="#story">Love Story</a></li>
                            <li><a href="#people">People</a></li>
                            <li><a href="#event">Event</a></li>
                            <li><a href="#gift">Gift</a></li>
                            <li><a href="#gallery">Gallery</a></li>
                            <li><a href="#blog">Blog</a></li>
                            <li><a href="#contact">RSVP</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>
                <div class="col-sm-2 mobile-pos">
                    <ul class="social-icon pull-right">
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                    <!-- /.social-icon end -->
                </div>
            </div>
        </div><!-- /.container -->
    </nav>
</section>
<!-- navigation end -->