<!-- blog start -->
<section id="blog" class="blog">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="heading wow animated fadeInUp">
                    <h3>Our Blog</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet pharetra
                        <br>nunc, non scelerisque ligula. Crasveljusto nulla Vestibuluma.</p>
                </div>
                <!-- /.heading end -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="blog-post wow animated fadeInUp" data-wow-delay="0s" data-wow-duration="1s">
                    <div class="blog-head">
                        <div class="blog-meta">
                            <ul>
                                <li>jacky </li>
                                <li>jan 25,2015 </li>
                                <li><a href="blog-single.html">4 comments</a></li>
                            </ul>
                        </div>
                        <!-- /.blog-meta -->
                        <h5><a href="blog-single.html">bachelorette party</a></h5>
                    </div>
                    <div class="blog-thumb">
                        <img class="img-responsive" src={{ asset('images/blog_thumbnail_01.jpg') }} alt="Blog image">
                        <div class="blog-thumb-hover">
                            Meh synth Schlitz, tempor duis single-origin ce ea next level ethnic fingerstache fanny pnostrud. Photo booth anim 8-bit henvetica. Salvia esse nihil, flexitarian Truffaut synep v chillwave. Seitan High Lipidatat kogi.
                        </div>
                    </div>
                    <!-- /.blog-thumb -->
                    <a class="blog-link" href="blog-single.html"><i class="fa fa-picture-o"></i><i class="fa fa-link"></i></a>
                </div>
                <!-- /.blog-post -->
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="blog-post wow animated fadeInUp" data-wow-delay=".6s" data-wow-duration="1s">
                    <div class="blog-head">
                        <div class="blog-meta">
                            <ul>
                                <li>jacky </li>
                                <li>jan 25,2015 </li>
                                <li><a href="blog-single.html">4 comments</a></li>
                            </ul>
                        </div>
                        <!-- /.blog-meta -->
                        <h5><a href="blog-single.html">bachelorette party</a> </h5>
                    </div>
                    <div class="blog-thumb">
                        <img class="img-responsive" src={{ asset('images/blog_thumbnail_02.jpg') }} alt="Blog image">
                        <div class="blog-thumb-hover">
                            Meh synth Schlitz, tempor duis single-origin ce ea next level ethnic fingerstache fanny pnostrud. Photo booth anim 8-bit henvetica. Salvia esse nihil, flexitarian Truffaut synep v chillwave. Seitan High Lipidatat kogi.
                        </div>
                    </div>
                    <!-- /.blog-thumb -->
                    <a class="blog-link" href="blog-single.html"><i class="fa fa-picture-o"></i><i class="fa fa-link"></i></a>
                </div>
                <!-- /.blog-post -->
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="blog-post wow animated fadeInUp" data-wow-delay="1.2s" data-wow-duration="1s">
                    <div class="blog-head">
                        <div class="blog-meta">
                            <ul>
                                <li>jacky </li>
                                <li>jan 25,2015 </li>
                                <li><a href="blog-single.html">4 comments</a></li>
                            </ul>
                        </div>
                        <!-- /.blog-meta -->
                        <h5><a href="blog-single.html">bachelorette party</a> </h5>
                    </div>
                    <div class="blog-thumb">
                        <img class="img-responsive" src={{ asset('images/blog_thumbnail_03.jpg') }} alt="Blog image">
                        <div class="blog-thumb-hover">
                            Meh synth Schlitz, tempor duis single-origin ce ea next level ethnic fingerstache fanny pnostrud. Photo booth anim 8-bit henvetica. Salvia esse nihil, flexitarian Truffaut synep v chillwave. Seitan High Lipidatat kogi.
                        </div>
                    </div>
                    <!-- /.blog-thumb -->
                    <a class="blog-link" href="blog-single.html"><i class="fa fa-picture-o"></i><i class="fa fa-link"></i></a>
                </div>
                <!-- /.blog-post -->
            </div>
        </div>
    </div>
</section>
<!-- /.blog end -->