<!-- couple start -->
<section id="couple" class="couple">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="heading wow animated fadeInUp">
                    <h3>{{ couple_presentation_title | trans }}</h3>
                    <p>{{ couple_presentation_desc | trans }}</p>
                </div>
                <!-- /.heading end -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 love-bg">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="thumbnail-block wow animated fadeInLeft">
                            <div class="thumb-img">
                                <img class="img-responsive" src="{{ asset('images/groom.png') }}" alt="Groom">
                                <div class="thumb-hover">
                                    <h5>JOHN DOE <small>groom</small></h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur isingelit. <br>
                                        nunc, non scelerisque ligula. Crasveljusto nulla <br> VestibulumaPraesent sit amet phare.
                                    </p>
                                    <ul class="social-icon">
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                    <!-- /.social-icon end -->
                                </div>
                                <!-- /.thumb-hover -->
                            </div>
                            <!-- /.thumb-img -->
                        </div>
                        <!-- /.thumbnail-block-->
                    </div>
                    <div class="col-sm-offset-2 col-sm-5">
                        <div class="thumbnail-block wow animated fadeInRight">
                            <div class="thumb-img">
                                <img class="img-responsive" src={{ asset('images/bride.png') }} alt="Bride">
                                <div class="thumb-hover">
                                    <h5>JANE DOE <small>bride</small></h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur isingelit. <br>
                                        nunc, non scelerisque ligula. Crasveljusto nulla <br> VestibulumaPraesent sit amet phare.
                                    </p>
                                    <ul class="social-icon">
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                    <!-- /.social-icon end -->
                                </div>
                                <!-- /.thumb-hover -->
                            </div>
                            <!-- /.thumb-img -->
                        </div>
                        <!-- /.thumbnail-block -->
                    </div>
                </div>
            </div>
            <!-- /.love-bg end -->
        </div>
        <div id="next-arrow" class="next-arrow">
            <a href="#story" class="animated infinite rocket"><i class="fa fa-angle-double-down"></i></a>
        </div>
    </div>
</section>
<!-- couple end -->