
<!-- event start -->
<section id="event" class="event lightsmoke">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="heading wow animated fadeInUp">
                    <h3>Wedding Events</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet pharetra <br> nunc, non scelerisque ligula. Crasveljusto nulla Vestibuluma.</p>
                </div>
                <!-- /.heading end -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="event-block wow animated fadeInUp" data-wow-delay="0s" data-wow-duration="1s">
                    <div class="event-img">
                        <img class="img-responsive" src={{ asset('images/event_01.png') }} alt="Event name">
                    </div>
                    <!-- /.event-img end -->
                    <div class="event-body">
                        <h5><a href="blog-single.html">BACHELOR PARTY</a></h5>
                        <p>Excepteur sint occaecat non proident, sunt in culpa qui officia deserunt mollit aniid est laborumut perspiciatisunde.</p>
                        <span class="event-date">July 14th <span class="event-year">2015</span></span>
                    </div>
                    <!-- /.event-body end -->
                </div>
                <!-- /.event-block end -->
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="event-block wow animated fadeInUp" data-wow-delay=".6s" data-wow-duration="1s">
                    <div class="event-img">
                        <img class="img-responsive" src={{ asset('images/event_02.png') }} alt="Event name">
                    </div>
                    <!-- /.event-img end -->
                    <div class="event-body">
                        <h5><a href="blog-single.html">WEDDING CEREMONY</a></h5>
                        <p>Excepteur sint occaecat non proident, sunt in culpa qui officia deserunt mollit aniid est laborumut perspiciatisunde.</p>
                        <span class="event-date">July 14th <span class="event-year">2015</span></span>
                    </div>
                    <!-- /.event-body end -->
                </div>
                <!-- /.event-block end -->
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="event-block wow animated fadeInUp" data-wow-delay="1.2s" data-wow-duration="1s">
                    <div class="event-img">
                        <img class="img-responsive" src={{ asset('images/event_03.png') }} alt="Event name">
                    </div>
                    <!-- /.event-img end -->
                    <div class="event-body">
                        <h5><a href="blog-single.html">WEDDING PARTY</a></h5>
                        <p>Excepteur sint occaecat non proident, sunt in culpa qui officia deserunt mollit aniid est laborumut perspiciatisunde.</p>
                        <span class="event-date">July 14th <span class="event-year">2015</span></span>
                    </div>
                    <!-- /.event-body end -->
                </div>
                <!-- /.event-block end -->
            </div>
        </div>
    </div>
</section>
<!-- event end -->