<!-- people start -->
<section id="people" class="people">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="heading wow animated fadeInUp">
                    <h3>Important People</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet pharetra <br> nunc, non scelerisque ligula. Crasveljusto nulla Vestibuluma.</p>
                </div>
                <!-- /.heading end -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 left-content">
                <div class="row wow animated fadeInLeft" data-wow-delay="0s" data-wow-duration="1s">
                    <div class="col-sm-8">
                        <div class="profile">
                            <h5>JULIA ANTHREW<small>Maid of Honor</small></h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscielit. Praesent sit amet pharetra nunc, non scelerisqligula Cras vel justo nulla. Vestibulum a sollicitudin metus, faucibus fermentum leo.
                            </p>
                            <ul class="social-icon">
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                            <!-- /.social-icon end -->
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="people-thumb-img">
                            <img class="img-responsive" src={{ asset('images/people_maid_of_honor.jpg') }} alt="MaidOfHonor">
                        </div>
                        <!-- /.people-thumb-img -->
                    </div>
                </div>
            </div>
            <div class="col-sm-6 right-content">
                <div class="row wow animated fadeInRight" data-wow-delay="0s" data-wow-duration="1s">
                    <div class="col-sm-4">
                        <div class="people-thumb-img">
                            <img class="img-responsive" src={{ asset('images/people_bestman.jpg') }} alt="BestMan">
                        </div>
                        <!-- /.people-thumb-img -->
                    </div>
                    <div class="col-sm-8">
                        <div class="profile">
                            <h5>JONATHON ALEX<small>Best Man</small></h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscielit. Praesent sit amet pharetra nunc, non scelerisqligula Cras vel justo nulla. Vestibulum a sollicitudin metus, faucibus fermentum leo.
                            </p>
                            <ul class="social-icon">
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                            <!-- /.social-icon end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 left-content">
                <div class="row wow animated fadeInLeft" data-wow-delay="0.6s" data-wow-duration="1s">
                    <div class="col-sm-8">
                        <div class="profile">
                            <h5>IRISH ANTHREW<small>Bridesmaid</small></h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscielit. Praesent sit amet pharetra nunc, non scelerisqligula Cras vel justo nulla. Vestibulum a sollicitudin metus, faucibus fermentum leo.
                            </p>
                            <ul class="social-icon">
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                            <!-- /.social-icon end -->
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="people-thumb-img">
                            <img class="img-responsive" src={{ asset('images/people_bridesmaid.jpg') }} alt="BridesMaid">
                        </div>
                        <!-- /.thumb-img -->
                    </div>
                </div>
            </div>
            <div class="col-sm-6 right-content">
                <div class="row wow animated fadeInRight" data-wow-delay="0.6s" data-wow-duration="1s">
                    <div class="col-sm-4">
                        <div class="people-thumb-img">
                            <img class="img-responsive" src={{ asset('images/people_groomman.jpg') }} alt="GroomsMan">
                        </div>
                        <!-- /.thumb-img -->
                    </div>
                    <div class="col-sm-8">
                        <div class="profile">
                            <h5>SEAN MAHER<small>Groomsman</small></h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscielit. Praesent sit amet pharetra nunc, non scelerisqligula Cras vel justo nulla. Vestibulum a sollicitudin metus, faucibus fermentum leo.
                            </p>
                            <ul class="social-icon">
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                            <!-- /.social-icon end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- people end -->