<!-- people start -->
<section id="people" class="people">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="heading wow animated fadeInUp">
                    <h3>{{ text_helper.getWebSiteText('invites-d-honneur').title }}</h3>
                    {{ text_helper.getWebSiteText('invites-d-honneur').description|raw }}
                </div>
                <!-- /.heading end -->
            </div>
        </div>
        <div class="row">
            {{ include('default/partials/people_detail.html.twig', { 'list' : pastor }) }}
            {{ include('default/partials/people_detail.html.twig', { 'list' : list }) }}
        </div>

    </div>
</section>
<!-- people end -->