<!-- story start -->
<section id="story" class="story lightsmoke">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="heading wow animated fadeInUp">
                    <h3>Our Love Story</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet pharetra <br>nunc,  non scelerisque ligula.
                        Crasveljusto nulla Vestibuluma.</p>
                </div>
                <!-- /.heading end -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="timeline-story">
                    <div class="timeline">
                        <span class="love-sign wow animated pulse">2013</span>
                        <div class="timeline-left pull-left">
                            <div class="timeline-block-left">
 								    	<span class="timeline-meta">
	 										25 of september
	 									</span>
                                <div class="timeline-thumbnail wow animated fadeInLeft" data-wow-delay="0s" data-wow-duration="1s">
                                    <img class="img-thumbnail" src={{ asset('images/love_story_01.jpg') }} alt="Love Story">
                                </div>
                            </div>
                        </div>
                        <!-- /.timeline-left -->
                        <div class="timeline-right pull-right">
                            <div class="timeline-block-right wow animated fadeInRight" data-wow-delay="0s" data-wow-duration="1s">
                                <div class="timeline-head">
                                    <h4>we have met each other</h4>
                                </div>
                                <div class="timeline-body">
                                    Lorem ipsum dolor sit amet,consectetur adipiing elit.Morbi nec con vallis ipsum,et pharlorraesent dignissim viverra metus.
                                </div>
                            </div>
                        </div>
                        <!-- /.timeline-right -->
                        <div class="clearfix"></div>
                    </div>
                    <!-- /.timeline end -->
                    <div class="timeline">
                        <span class="love-sign wow animated pulse">2014</span>
                        <div class="timeline-left reverse pull-left">
                            <div class="timeline-block-left">
 								    	<span class="timeline-meta">
	 										25 of september
	 									</span>
                                <div class="timeline-thumbnail wow animated fadeInLeft" data-wow-delay="0.6s" data-wow-duration="1s">
                                    <img class="img-thumbnail" src={{ asset('images/love_story_02.jpg') }} alt="Love Story">
                                </div>
                            </div>
                        </div>
                        <!-- /.timeline-left -->
                        <div class="timeline-right reverse pull-right">
                            <div class="timeline-block-right wow animated fadeInRight" data-wow-delay="0.6s" data-wow-duration="1s">
                                <div class="timeline-head">
                                    <h4>Our first beautiful date</h4>
                                </div>
                                <div class="timeline-body">
                                    Lorem ipsum dolor sit amet,consectetur adipiing elit.Morbi nec con vallis ipsum,et pharlorraesent dignissim viverra metus.
                                </div>
                            </div>
                        </div>
                        <!-- /.timeline-right -->
                        <div class="clearfix"></div>
                    </div>
                    <!-- /.timeline end -->
                    <div class="timeline">
                        <span class="love-sign wow animated pulse">2015</span>
                        <div class="timeline-left pull-left">
                            <div class="timeline-block-left">
 								    	<span class="timeline-meta">
	 										25 of september
	 									</span>
                                <div class="timeline-thumbnail wow animated fadeInLeft" data-wow-delay="1.2s" data-wow-duration="1s">
                                    <img class="img-thumbnail" src={{ asset('images/love_story_03.jpg') }} alt="Love Story">
                                </div>
                            </div>
                        </div>
                        <!-- /.timeline-left -->
                        <div class="timeline-right pull-right">
                            <div class="timeline-block-right wow animated fadeInRight" data-wow-delay="1.2s" data-wow-duration="1s">
                                <div class="timeline-head">
                                    <h4>our happy engagement</h4>
                                </div>
                                <div class="timeline-body">
                                    Lorem ipsum dolor sit amet,consectetur adipiing elit.Morbi nec con vallis ipsum,et pharlorraesent dignissim viverra metus.
                                </div>
                            </div>
                        </div>
                        <!-- /.timeline-right -->
                        <div class="clearfix"></div>
                    </div>
                    <!-- /.timeline end -->
                </div>
                <!-- /.timeline-story -->
            </div>

        </div>
    </div>
</section>
<!-- story end -->