{% extends 'base.html.twig' %}

{% block body %}

<section class="blog-bg">
    <div class="color-overlay">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="blog-title">
                        <h3>Single Blog Post</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet
                            pharetra
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.color-overlay end -->
</section>
<!-- /.blog-bg end -->

<!-- blog content start -->
<section class="blog-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="single-blog-content">
                    <div class="single-blog-image">
                        <img class="img-responsive" src="images/post_image.png" alt="blog image">
                    </div>
                    <!-- /.single-blog-image -->
                    <div class="single-blog-meta">
                        <ul>
                            <li><i class="fa fa-clock-o"></i> December 14, 2014</li>
                            <li><i class="fa fa-folder-open"></i> Party / Wedding</li>
                            <li><i class="fa fa-tag"></i> Groom,Maid,Best man</li>
                        </ul>
                    </div>
                    <!-- /.single-blog-meta -->
                    <div class="single-blog-detail">
                        <div class="single-blog-upper">
                            <h3>THE WEDDING LIGHT</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec congue felis, id bibendum augue. Spendisse congue ac justo quis faucibus. Donec at nulla ultrices tellus tincidunt blandit. Sed tempus risus a magna maliquam. Etiam consequat, sem in blandit bibendum, justo libero dictum turpis, vel placerat urna elit quis odio. Vivamus con dimentum elementum turpis quis faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec congue felis, id bibendum augue. Spendisse congue ac justo quis faucibus. Donec at nulla ultrices tellus tincidunt blandit. Sed tempus risus a magna maliquam. Etiam consequat, sem in blandit bibendum, justo libero dictum turpis.</p>
                        </div>
                        <!-- /.single-blog-lower -->
                        <blockquote>
                            <p>For some people, the point of no return begins at the very moment their <br> sould become aware of each other's existence.</p>
                        </blockquote>
                        <!-- blockquote end -->
                        <div class="single-blog-lower">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec congue felis, id bibendum augue. Spendisse congue ac justo quis faucibus. Donec at nulla ultrices tellus tincidunt blandit. </p>
                            <ul class="single-post-item">
                                <li><i class="fa fa-check"></i>Duis aute irure reprehenderit in voluptate velit esse</li>
                                <li><i class="fa fa-check"></i>Duis aute irure reprehenderit in voluptate velit esse</li>
                                <li><i class="fa fa-check"></i>Duis aute irure reprehenderit in voluptate velit esse</li>
                                <li><i class="fa fa-check"></i>Duis aute irure reprehenderit in voluptate velit esse</li>
                            </ul>
                            <!-- /.single-post-item -->
                            <h4>SOME WONDERFUL MOMENT</h4>
                            <ul class="single-post-thumnail">
                                <li><a class="gallery-popup" href="images/gallery/gallery_image_08.jpg"><img class="img-thumbnail img-responsive" src="images/post_moment_01.png" alt="image"></a></li>
                                <li><a class="gallery-popup" href="images/gallery/gallery_image_07.jpg"><img class="img-thumbnail img-responsive" src="images/post_moment_02.png" alt="image"></a></li>
                                <li><a class="gallery-popup" href="images/gallery/gallery_image_01.jpg"><img class="img-thumbnail img-responsive" src="images/post_moment_03.png" alt="image"></a></li>
                                <li><a class="gallery-popup" href="images/gallery/gallery_image_05.jpg"><img class="img-thumbnail img-responsive" src="images/post_moment_04.png" alt="image"></a></li>
                            </ul>
                            <!-- /.single-post-thumnail -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec congue felis, id bibendum augue. Spendisse congue ac justo quis faucibus. Donec at nulla ultrices tellus tincidunt blandit.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec congue felis, id bibendum augue. Spendisse congue ac justo quis faucibus. Donec at nulla ultrices tellus tincidunt blandit </p>
                        </div>
                        <!-- /.single-blog-lower -->
                    </div>
                    <!-- /.single-blog-detail -->
                    <div class="social-block">
                        <span>Share</span>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google"></i></a>
                        <a href="#"><i class="fa fa-share-alt"></i></a>
                    </div>
                    <div class="comment-block">
                        <h5>COMMENTS (11)</h5>
                        <ul class="media-list">
                            <li class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="images/avatar.png" alt="media">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">ANDREW HILTON <small>DECEMBER 14, 2014</small></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec congue felis, id bibendum augue. Spendisse congue ac justo quis faucibus. Donec at nulla ultrices tellus tincidunt</p>
                                    <p><a href="" class="btn default-btn">REPLY</a></p>
                                </div>
                            </li>
                        </ul>
                        <ul>
                            <li class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="images/avatar.png" alt="media">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Andrew Hall <small>DECEMBER 14, 2014</small></h4>
                                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                                    <p><a href="" class="btn default-btn">REPLY</a></p>
                                    <!-- Nested media object -->
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- /.comment-block -->
                    <div class="reply-block">
                        <h5>LEAVE A REPLY</h5>
                        <div class="contact">
                            <form class="comment_form" role="form" action="#">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="name" name="name" placeholder="Your name..." required="required">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" id="email" name="email" placeholder="Your email" required="required">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <textarea class="form-control" name="message" id="message" placeholder="Write your message"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 text-right">
                                        <div class="form-group">
                                            <input type="submit" name="submit" class="btn default-btn" value="SUBMIT">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <p class="contact-success">Your Message has been Successfully Sent!</p>
                                        <p class="contact-error">Error! Something went wrong!</p>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                    <!-- /.reply-block end -->
                </div>
                <!-- /.single-blog-content end -->
            </div>
            <div class="col-sm-3">
                <sidebar>
                    <div class="sidebar-single-post">
                        <div class="sidebar-single-post-img">
                            <img class="img-responsive" src="images/author.png" alt="Single post image">
                        </div>
                        <!-- /.sidebar-single-post-img -->
                        <div class="sidebar-single-post-detail">
                            <h5>THOMAS ELLEN</h5>
                            <p>Lorem ipsum dolor sit amesectetur adip isicing elit. Vitae vero moltias obcaecati repellendus temporibus asperiores dicta nesciunt.</p>
                        </div>
                    </div>
                    <!-- /.sidebar-single-post -->
                    <div class="popular-post">
                        <h5>POPULAR POST</h5>
                        <ul>
                            <li>
                                <div class="popular-img">
                                    <img class="img-responsive" src="images/post_thumb_01.png" alt="post image">
                                </div>
                                <p> Harum quidem rerufacilis eexpedita<span> 2 hours ago </span> </p>
                            </li>
                            <li>
                                <div class="popular-img">
                                    <img class="img-responsive" src="images/post_thumb_02.png" alt="post image">
                                </div>
                                <p> Harum quidem rerufacilis eexpedita<span> 2 hours ago </span> </p>
                            </li>
                            <li>
                                <div class="popular-img">
                                    <img class="img-responsive" src="images/post_thumb_03.png" alt="post image">
                                </div>
                                <p> Harum quidem rerufacilis eexpedita<span> 2 hours ago </span> </p>
                            </li>
                            <li>
                                <div class="popular-img">
                                    <img class="img-responsive" src="images/post_thumb_04.png" alt="post image">
                                </div>
                                <p> Harum quidem rerufacilis eexpedita<span> 2 hours ago </span> </p>
                            </li>
                        </ul>
                    </div>
                    <div class="wedding-video">
                        <h5>WEDDING VIDEO</h5>
                        <p>Odio dignissimos ducimus qui bldiesentium voluptatum delenitiatque corrupti d et quas prodent, similique sunt in culpa.</p>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="http://player.vimeo.com/video/105381943?color=0c9bdf" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    </div>
                </sidebar>
                <!-- sidebar end here -->
            </div>
        </div>
    </div>
</section>
<!-- /.blog content end -->

<script>
    $(document).ready(function() {
        "use strict";
        $('.gallery-popup').magnificPopup({
            type:'image',
            closeBtnInside:true,
            // Delay in milliseconds before popup is removed
            removalDelay: 300,

            // Class that is added to popup wrapper and background
            // make it unique to apply your CSS animations just to this exact popup
            //mainClass: 'mfp-fade',
            gallery: {
                enabled: true, // set to true to enable gallery

                preload: [0,2], // read about this option in next Lazy-loading section

                navigateByImgClick: true,

                arrowMarkup: '<button title="%title%" type="button" class="mfp-arrow mfp-arrow-%dir%"></button>', // markup of an arrow button

                closeMarkup: '<button title="%title%" class="mfp-close"><i class="mfp-close-icn">&times;</i></button>',

                tPrev: 'Previous (Left arrow key)', // title for left button
                tNext: 'Next (Right arrow key)', // title for right button
                //tCounter: '<span class="mfp-counter">%curr% of %total%</span>' // markup of counter
            }
        });
    });
</script>

{% endblock %}