<div class="thumb-img">
    <img class="img-responsive" src="{{ asset('images/groom.png') }}" alt="Groom">
    <div class="thumb-hover">
        <h5>{{ user.firstname }} <small>{{ user.lastname }}</small></h5>
        <p>
            {{ user.longDescription }}
        </p>
        <ul class="social-icon">
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
        <!-- /.social-icon end -->
    </div>
    <!-- /.thumb-hover -->
</div>