{% extends "::login.html.twig" %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}


    <section id="contact" class="contact">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="heading wow animated fadeInUp">
                        <h3>Accès reservé</h3>
                        <p>Veuillez rentrer le mot de passe vous donnant accès au site</p>
                    </div>
                    <!-- /.heading end -->
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9 col-sm-offset-3">
                    <div class="contact-block">
                        <div class="row">
                            <div class="col-sm-8">
                                <form action="{{ path('login') }}" method="post" class="form-horizontal">
                                    <div class="form-group">
                                        <label for="username" class="col-sm-3 control-label">Identifiant</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="_username" id="username" placeholder="Id">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="col-sm-3 control-label">Mot de passe</label>
                                        <div class="col-sm-9">
                                            <input type="password" class="form-control" name="_password" id="password" placeholder="Password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-9">
                                            <input type="submit" name="submit" class="btn default-btn btn-block" value="Se Connecter">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /.contact-block end -->
                </div>
            </div>
        </div>
    </section>

{% endblock %}
